.foreignObject {
  height: 100%;
  width: 100%;
  position: relative;
}

.photoPreviewContainer {
  display:flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}

.photoPreviewContainer.clickable {
  cursor: pointer;
}
